extends layout
block content
    h2 #{title}
    h4 #{scripts.firstReading.title}
    div #{scripts.firstReading.content}
    h4 #{scripts.secondReading.title}
    div #{scripts.secondReading.content}