extends layout
block content
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-12 col-md-8")
            div(style="padding: 10px; margin-top: 20px;")
                h4(class="text-center") #{scripts.date}
            h5(style="margin-top: 20px;") 晨祷诗篇
            div(class="border" style="padding: 10px;")
                h6 #{scripts.dailyPsalms.morningPsalms[0].title}
                div #{scripts.dailyPsalms.morningPsalms[0].content}
                hr
                h6 #{scripts.dailyPsalms.morningPsalms[1].title}
                div #{scripts.dailyPsalms.morningPsalms[1].content}
            h5(style="margin-top: 20px;") 晚祷诗篇
            div(class="border" style="padding: 10px;")
                h6 #{scripts.dailyPsalms.eveningPsalms[0].title}
                div #{scripts.dailyPsalms.eveningPsalms[0].content}
                hr
                h6 #{scripts.dailyPsalms.eveningPsalms[1].title}
                div #{scripts.dailyPsalms.eveningPsalms[1].content}