extends layout
block content
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-12 col-md-8")
            div(class="card" style="padding: 10px; margin-top: 20px;")
                h4(class="text-center") #{scripts.date}经文选
            h5(style="margin-top: 20px;") 旧约经文
            div(class="border" style="padding: 10px;")
                h6 #{scripts.lectionary.firstReading.title}
                div #{scripts.lectionary.firstReading.content}
            h5(style="margin-top: 20px;") 新约经文
            div(class="border" style="padding: 10px;")
                h6 #{scripts.lectionary.secondReading.title}
                div #{scripts.lectionary.secondReading.content}
