extends layout
block content
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-12 col-md-8")
            div(style="padding: 10px; margin-top: 20px;")
                div
                  if scripts.series == 'one'
                    h4(class="text-center") 主日经文
                    div(class="card-text text-center") One-Year Series
                    div(class="card-text text-center") #{scripts.date} #{scripts.name}
                  else if scripts.series == 'festival'
                    h4(class="text-center") 节日经文
                    div(class="card-text text-center") #{scripts.date} #{scripts.name}
                  else
                    h4(class="text-center") 主日经文
                    div(class="card-text text-center") Three-Year Series #{scripts.series.toUpperCase()}
                    div(class="card-text text-center") #{scripts.date} #{scripts.name}
            h5(style="margin-top: 20px;") 第一读经
            div(class="border" style="padding: 10px;")
                h6 #{scripts.lectionary.firstReading.title}
                div #{scripts.lectionary.firstReading.content}
                if scripts.lectionary.firstReadingOptional
                  hr
                  h6(class="text-secondary") #{scripts.lectionary.firstReadingOptional.title}
                  div(class="text-secondary") #{scripts.lectionary.firstReadingOptional.content}
            h5(style="margin-top: 20px;") 诗篇
            div(class="border" style="padding: 10px;")
                h6 #{scripts.lectionary.psalm.title}
                div #{scripts.lectionary.psalm.content}
                if scripts.lectionary.psalmOptional
                  hr
                  h6(class="text-secondary") #{scripts.lectionary.psalmOptional.title}
                  div(class="text-secondary") #{scripts.lectionary.psalmOptional.content}
            h5(style="margin-top: 20px;") 第二读经
            div(class="border" style="padding: 10px;")
                h6 #{scripts.lectionary.secondReading.title}
                div #{scripts.lectionary.secondReading.content}
                if scripts.lectionary.secondReadingOptional
                  hr
                  h6(class="text-secondary") #{scripts.lectionary.secondReadingOptional.title}
                  div(class="text-secondary") #{scripts.lectionary.secondReadingOptional.content}
            h5(style="margin-top: 20px;") 福音经文
            div(class="border" style="padding: 10px;")
                h6 #{scripts.lectionary.gospel.title}
                div #{scripts.lectionary.gospel.content}
                if scripts.lectionary.gospelOptional
                  hr
                  h6(class="text-secondary") #{scripts.lectionary.gospelOptional.title}
                  div(class="text-secondary") #{scripts.lectionary.gospelOptional.content}
                if scripts.lectionary.gospelThree
                  hr
                  h6(class="text-secondary") #{scripts.lectionary.gospelThree.title}
                  div(class="text-secondary") #{scripts.lectionary.gospelThree.content}