extends layout
block content
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-12 col-md-8")
            div(style="padding: 10px; margin-top: 20px;")
                h4(class="text-center") Propers of the Day
                div
                  if propers.series == 'one'
                    div(class="card-text text-center") One-Year Series
                    div(class="card-text text-center") #{propers.date} #{propers.name}
                  else if propers.series == 'special'
                    div(class="card-text text-center") One-Year Series
                    div(class="card-text text-center") First Sunday after Epiphany, #{propers.name}
                  else if propers.series == 'festival'
                    div(class="card-text text-center") #{propers.date} #{propers.name}
                  else
                    div(class="card-text text-center") Three-Year Series #{propers.series.toUpperCase()}
                    div(class="card-text text-center") #{propers.date} #{propers.name}
            if scripts.series != 'festival'
              div(class="row justify-content-center")
                  div(class="col-6 col-md-4")
                      input(type="text" class="form-control text-center" placeholder="转到指定日期")
            h5(style="margin-top: 20px;") COLLECT OF THE DAY
            div(class="border" style="padding: 10px;")
              div #{propers.collect.en}
                hr
                if propers.collect.zh !=''
                  div #{propers.collect.zh}
                else
                  div 暂无翻译
            h5(style="margin-top: 20px;") INTROIT
            div(class="border" style="padding: 10px;")
                each line in propers.propers.introit.split(/\n/)
                  =line
                  <br>
            h5(style="margin-top: 20px;") GRADUAL
            div(class="border" style="padding: 10px;")
                each line in propers.propers.gradual.split(/\n/)
                  =line
                  <br>
            if propers.propers.verse
              h5(style="margin-top: 20px;") VERSE
              div(class="border" style="padding: 10px;")
                  div #{propers.propers.verse}
            if propers.propers.tract
              h5(style="margin-top: 20px;") TRACT
              div(class="border" style="padding: 10px;")
                  div #{propers.propers.tract}
            h5(style="margin-top: 20px;") HYMN
            div(class="border" style="padding: 10px;")
                each line in propers.propers.hymn.split(/\n/)
                  =line
                  <br>
            h5(style="margin-top: 20px;") OTHER
            div(class="border" style="padding: 10px;")
                div 圣礼颜色： #{propers.propers.color}
                div <a href='/proper-prefaces'>应季序祷文</a>： #{propers.propers.preface}