extends layout
block content
    div(class="container")
      div(class="row justify-content-center")
        div(class="col-12 col-md-8")
            div(class="card" style="padding: 10px; margin-top: 20px;")
                h4(class="text-center") Propers of the Day
                div(class="card-body") 
                  if series
                    p(class="card-text text-center") #{series.toUpperCase()} SERIES
                    p(class="card-text text-center") #{propers.date} #{propers.name}
                  else
                    p(class="card-text text-center") #{propers.date} #{propers.name}
            h5(style="margin-top: 20px;") INTROIT
            div(class="border" style="padding: 10px;")
                each line in propers.propers.introit.split(/\n/)
                  =line
                  <br>
            h5(style="margin-top: 20px;") GRADUAL
            div(class="border" style="padding: 10px;")
                each line in propers.propers.gradual.split(/\n/)
                  =line
                  <br>
            h5(style="margin-top: 20px;") VERSE
            div(class="border" style="padding: 10px;")
                p #{propers.propers.verse}
            h5(style="margin-top: 20px;") OTHER
            div(class="border" style="padding: 10px;")
                p color： #{propers.propers.color}
                p preface： #{propers.propers.preface}
                p hymn： #{propers.propers.hymn}